<h1 class="page-heading">Login</h1>
</br>

<p id="error" class="invisible">Username or password is incorrect.</p>

<form id="loginForm" class="row g-3">
  <div class="form-floating mb-3">
    <input type="email" id="email" class="form-control" placeholder="placeholder" name="email">
    <label class="floatingInput" for="email">Email</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" id="password" class="form-control" placeholder="placeholder" name="password">
    <label class="floatingInput" for="password">Password</label>
  </div>

  <div class="col-12 text-center">
    <button type="submit" class="btn btn-outline-secondary">Login</button>
  </div>

</form>