<h1 class="page-heading">Register</h1>
</br>

<form id="registerForm" class="row g-3">
  <div class="form-floating mb-3">
    <input type="text" id="name" class="form-control" placeholder="placeholder" name="name">
    <label for="name" class="floatingInput">Name</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" id="email" class="form-control" placeholder="placeholder" name="email">
    <label for="email" class="floatingInput">Email</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" id="password" class="form-control" placeholder="placeholder" name="password">
    <label for="password" class="floatingInput">Password</label>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-outline-secondary">Register</button>
  </div>

</form>